<!DOCTYPE html>
<html>
<script src="calculate.js"> </script>

<h1>Histogram Generator</h1><br><br>
<div class="table1">
	<p id="titles">Lower bounds</p><br>

	<div class="indent">
		<label for "ss1">Max</label><input type="text" onkeyup="make()" name="s1" id="ss1" style="width: 80px;" value="100.00"/>
		<br><br>
		<label for "ss2">A+</label><input type="text" onkeyup="make()" name="s2" id="ss2" style="width: 80px;" value="95.00"/>
	<br><br>
		<label for "ss3">A</label><input type="text" onkeyup="make()" name="s3" id="ss3" style="width: 80px;" value="90.00"/>
	<br><br>
		<label for "ss4">A-</label><input type="text" onkeyup="make()" name="s4" id="ss4" style="width: 80px;" value="85.00"/>
	<br><br>
		<label for "ss5">B+</label><input type="text" onkeyup="make()" name="s5" id="ss5" style="width: 80px;" value="80.00"/>
	<br><br>
		<label for "ss6">B</label><input type="text" onkeyup="make()" name="s6" id="ss6" style="width: 80px;" value="75.00"/>
	<br><br>
		<label for "ss7">B-</label><input type="text" onkeyup="make()" name="s7" id="ss7" style="width: 80px;" value="70.00"/>
	<br><br>
		<label for "ss8">C+</label><input type="text" onkeyup="make()" name="s8" id="ss8" style="width: 80px;" value="65.00"/>
	<br><br>
		<label for "ss9">C</label><input type="text" onkeyup="make()" name="s9" id="ss9" style="width: 80px;" value="60.00"/>
	<br><br>
		<label for "ss10">C-</label><input type="text" onkeyup="make()" name="s10" id="ss10" style="width: 80px;" value="55.00"/>
	<br><br>
		<label for "ss11">D</label><input type="text" onkeyup="make()" name="s11" id="ss11" style="width: 80px;" value="50.00"/>
	<br><br>
		<label for "ss12">F</label><input type="text" onkeyup="make()" name="s12" id="ss12" style="width: 80px;" value="0.00"/>
	<br><br>
	
	</div>
</div>
<div class="table2">
	<p id="titles">Histogram</p><br>
	<div class="indent">
	<p class="inline" id="text1">A+ </p>
	<p class="tab1" id="t1"> </p> <br>
	<p class="inline" id="text2">A</p>
	<p class="tab2" id="t2"> </p> <br>
	<p class="inline" id="text3">A-</p>
	<p class="tab3" id="t3"> </p> <br>
	<p class="inline" id="text4">B+</p>
	<p class="tab1" id="t4"> </p> <br>
	<p class="inline" id="text5">B</p>
	<p class="tab2" id="t5"> </p> <br>
	<p class="inline" id="text6">B-</p>
	<p class="tab3" id="t6"> </p> <br>
	<p class="inline" id="text7">C+</p>
	<p class="tab1" id="t7"> </p> <br>
	<p class="inline" id="text8">C</p>
	<p class="tab2" id="t8"> </p> <br>
	<p class="inline" id="text9">C-</p>
	<p class="tab3" id="t9"> </p> <br>
	<p class="inline" id="text10">D</p>
	<p class="tab2" id="t10"> </p> <br>
	<p class="inline" id="text11">F</p>
	<p class="tab4" id="t11"> </p> <br>
	</div>
	
<!-- style = "text-indent:1.5em;" -->

</div>
<br><br><br><br><br><br><br><br><br><br>
<p id="errorm"></p> 

<script> window.onload=make(); </script>
<br>
<%= link_to 'Submit', members_q3_path %><br>

<%= link_to 'Home', assign2_q2_path %><br>

</html>

