<%= render 'creatives/navbar' %>

<div class="container">
  <h1 class="text-center">User Profile Page</h1>
  <hr>
  <p class="text-center">Showing profile page for
    <mark class="bg-primary"><%= @user.username %></mark>
  </p>
  <p class="text-center">
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% unless @schedules.empty? %>
          <h1>Schedules</h1>
          <div class="list-group">
            <%= render @user.schedules %>
          </div>
      <% else %>
          <h3>No schedules have been created so far..</h3>
      <% end %>
    </div>
  </div>
</div>

