<br>
<label for "ss1">email</label><input type="text"/><br><br><br>
<label for "ss1">confirm email</label><input type="text"/><br><br><br>
<label for "ss1">first name</label><input type="text"/><br><br><br>
<label for "ss1">last name</label><input type="text"/><br><br><br>
<label for "ss1">password</label><input type="text"/><br><br><br>
<label for "ss1">confirm password</label><input type="text"/>