<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Savecation</h1>
      <hr>
      <p>Savecation is an online app that allows users to vacation on a budget.</p>

      <div class = "findoutmore">
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
      </div>

      <div class = "wrap">
        <div class="search">
          <input type "text" class="searchTerm" placeholder="Destination">
          <button type = "submit" class = "searchButton">
            <i class = "fa fa-search"></i>
        </button>
        </div>
      </div>

      
    </div>
  </div>
</header>
