<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Savecation</h1>
      <br>
      <p>Savecation is an online app that allows users to vacation on a budget.</p><br>
      <!-- <div class="wrap">
        <div class="search">
          <input type="text" autocomplete="off" id="search_term" list="json-citylist" class="searchTerm" placeholder="Enter your destination...">
          <datalist id="json-citylist"></datalist>
          <button onclick="search()" type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <p id="errorm"></p>
      </div> -->





      <script>
      //  var xhr = new XMLHttpRequest();
          var apiAddress = 'http://api.apixu.com/v1/forecast.json?key=c0d375072f834120aa250648170312&days=10&q=';
        var city = 'Vancouver';
          var url = apiAddress + city;
      //    xhr.open("GET", url, false);
        //  xhr.send();
          //formmatedStuff =
      //    loadJSON(url,gotData);
        //  function gotData(data){
        //    weather = data;
      //    }
        //  var json = JSON.parse()

          $(function(){
            $.getJSON(url,function(data){

              var temp = data.current.temp_c + " C";
              var weatherX = data.current.condition.text;
              var weathercode = 'http:'+data.current.condition.icon;

              document.getElementById("mytemp").innerHTML = temp;
              document.getElementById("myweatherX").innerHTML = weatherX;


              var img = document.createElement("img");
              img.src = weathercode;
              var src = document.getElementById("weathericon");
              src.appendChild(img);




              var temp1=data.forecast.forecastday[1].hour[15].temp_c +" C";
              var weather1 = data.forecast.forecastday[1].hour[15].condition.text;
              var weathercode1 = 'http:'+data.forecast.forecastday[1].hour[15].condition.icon;

              document.getElementById("plus1temp").innerHTML = temp1;
              document.getElementById("plus1weather").innerHTML = weather1;

              var img = document.createElement("img");
              img.src = weathercode1;
              var src = document.getElementById("weathericon1");
              src.appendChild(img);


              // var temp2=data.forecast.forecastday[2].hour[15].temp_c +" C";
              // var weather2 = data.forecast.forecastday[2].hour[15].condition.text;
              // var weathercode2 = 'http:'+data.forecast.forecastday[2].hour[15].condition.icon;
              //
              // document.getElementById("plus2temp").innerHTML = temp2;
              // document.getElementById("plus2weather").innerHTML = weather2;
              //
              // var img = document.createElement("img");
              // img.src = weathercode1;
              // var src = document.getElementById("weathericon2");
              // src.appendChild(img);





         console.log(temp);
         console.log(weatherX);
         })

          })
        //  console.log(weather.main.temp);
        //  console.log(xhr.status);
        //  console.log(xhr.statusText);



      </script>






      <script type="text/javascript">
          var dataList = document.getElementById('json-citylist');
          var input = document.getElementById('ajax');


          /**
           * @return {string}
           */
          function Get() {
              var Httpreq = new XMLHttpRequest(); // a new request
              Httpreq.open("GET", "https://pure-coast-27115.herokuapp.com/data/cities", false);
              Httpreq.send(null);
              return Httpreq.responseText;
          }

          var json_obj = JSON.parse(Get());
          data = json_obj["data"];
          var dict = {};

          for (var i = 0; i < data.length; i++) {
              var option = document.createElement('option');
              option.value = data[i].name;
              dataList.appendChild(option);
              dict[data[i].name.toLowerCase()] = "https://pure-coast-27115.herokuapp.com/city_detail/" + data[i].id;
          }

          function search() {
              var input = document.getElementById("search_term").value.toLowerCase();
              var keys = Object.keys(dict);
              keys.forEach(function (key) {
                  if (key === input) {
                      window.location = dict[key];
                  }
              });
          }

          $("#search_term").on('keydown', function (e) {
              if (e.keyCode === 13) {
                  search();
              }
          });
      </script>


      <div id="testing123">
        <p> Weather: <span id="myweatherX"></span> <span id="weathericon"></span> </p>
        <p> Temperature: <span id="mytemp"></span></p>
      </div>

      <div id="forcast">
        <h3>+1</h>
        <p> Weather: <span id="plus1weather"></span> <span id="weathericon1"></span> </p>
        <p> Temperature: <span id="plus1temp"></span></p>

        <!-- <h3>+2</h>
        <p> Weather: <span id="plus2weather"></span> <span id="plus2icon"></span> </p>
        <p> Temperature: <span id="plus2temp"></span></p>

        <h3>+3</h>
        <p> Weather: <span id="plus3weather"></span> <span id="plus3icon"></span> </p>
        <p> Temperature: <span id="plus3temp"></span></p>

        <h3>+4</h>
        <p> Weather: <span id="plus4weather"></span> <span id="plus4icon"></span> </p>
        <p> Temperature: <span id="plus4temp"></span></p>

        <h3>+5</h>
        <p> Weather: <span id="plus5weather"></span> <span id="plus5icon"></span> </p>
        <p> Temperature: <span id="plus5temp"></span></p>

        <h3>+6</h>
        <p> Weather: <span id="plus6weather"></span> <span id="plus6icon"></span> </p>
        <p> Temperature: <span id="plus6temp"></span></p>

        <h3>+7</h>
        <p> Weather: <span id="plus5weather"></span> <span id="plus7icon"></span> </p>
        <p> Temperature: <span id="plus7temp"></span></p>

        <h3>+8</h>
        <p> Weather: <span id="plus8weather"></span> <span id="plus8icon"></span> </p>
        <p> Temperature: <span id="plus8temp"></span></p> -->

      </div>

      <table id="weatherforecast"  cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Current</th>
          <th>Tomorrow</th>
          <th>+2</th>
          <th>+3</th>
          <th>+4</th>
          <th>+5</th>
          <th>+6</th>
          <th>+7</th>
          <th>+8</th>
          <th>+9</th>
          <th>+10</th>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        </thead>

      </table>




    </div>

  </div>
</header>
