

<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Savecation</h1>
      <hr>
      <p>Savecation is an online app that allows users to vacation on a budget.</p>

  <script type='text/javascript' src = '/app/assets/javascripts/creative/fuzzySearch.js'></script>

      <div class = "wrap">
        <div class="search">
          <input type "text" class="searchTerm" id="destinationCity" placeholder="Enter Your destination...">
          <button type = "submit" class = "searchButton">
            <i class = "fa fa-search"></i>
        </button>
        </div>
      </div>






    </div>
  </div>
</header>
