<!DOCTYPE html>
<html>
<body id="k">

<h1>Welcome to CMPT 276 Assignment 2's Homepage! <img src="<%= asset_path('houset.png') %>" style="width:70px;height:70px;"></h1>

<br><br>

<p id="f">Choose from below what you would like to do:</p><br>

<a href="/courses/">Go to Courses page</a><br>
<a href="/students/">Go to Students page</a><br>
<a href="/enrolls/">Go to Enrollment page</a><br><br>
</body>
</html>
