.table1 {
  float: left;
  width: 300px;
  height: 600px;
  margin: 7px;
  border: 1px solid rgba(0, 0, 0, .1);
  background: #EDF4FE;
}

.table2 {
  float: left;
  width: 310px;
  height: 430px;
  margin: 7px;
  border: 1px solid rgba(0, 0, 0, .1);
  background: #EDF4FE;
}

p#titles {
	color:#C11B1B;
	font-family: "Times New Roman";
	font-size: 1.7em;
  font-weight:bold;
}

p#text {
  font-family: "Times New Roman";
	font-size: 1.1em;
}

.indent {
  padding-left:35px;
}

label {
    font-family: "Times New Roman";
    width:50px;
    clear:left;
    text-align:right;
    padding-right:100px;
}

input, label {
    float:left;
}

input[type="text"]
{
    font-family:"Times New Roman";
}

input
{
    text-align:right;
}

.tab1 {
  display:inline-block; 
  margin-left: 60px;
}
.tab2 {
  display:inline-block; 
  margin-left: 68px;
}

.tab3 {
  display:inline-block; 
  margin-left: 63px;
}
.tab4 {
  display:inline-block; 
  margin-left: 70px;
}

.inline {
  display: inline;
}

p#errorm {
  color:red;
  font-size: 1.7em;
}
