<%= render 'creatives/navbar' %>

<header id="header_city_omg">

  <div class="header-content">
    <div class="header-content-inner" id="title_cities">

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <div id="outer_map" align="center">
        <div id="map" align="right"></div>
      </div>
    </div>
  </div>

</header>
