<%= render 'creatives/navbar' %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
  <h1 class="text-center">All the cities we support</h1>
  <hr>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" style="height: 400px; margin-bottom: 20px">
      <iframe width="100%" height="100%" src="https://www.google.com/maps/d/embed?mid=1Xvu2vmjRKCDTaUOAIdnqImSUHUKma904&z=3">
      </iframe>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <% @cities.each do |x| %>
          <% @blah = "http://pure-coast-27115.herokuapp.com/city_detail/" + x.id.to_s %>
          <a href="<%= @blah %>" class="btn btn-success"><%= x.name %></a>
      <% end %>
    </div>
  </div>
</div>
