
<h1>List of Students taking Course</h1><br><br>





</script>


</table>

<table style="width:50%">
  <thead>
    <tr>
      <th>Student</th>
      <th>Percentage</th>
      <th>Grade</th>
    </tr>
  </thead>

<br>

<%= link_to 'Assign Grades', assign1_q1_path %><br>
<%= link_to 'Home', assign2_q2_path %><br>


